**/.terraform/*
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.DS_Store
Thumbs.db
*.log

app/.env
app/vendor/
app/node_modules/
app/public/storage
app/bootstrap/cache/*
!app/bootstrap/cache/.gitignore
app/storage/*.key
app/storage/framework/cache/*
app/storage/framework/sessions/*
app/storage/framework/views/*
app/storage/logs/*

app/phpmd.xml
app/_ide_helper.php
app/.phpstorm.meta.php
app/_ide_helper_models.php
app/.phplint-cache
app/storage/ldap_client_tls.cert
app/storage/ldap_client_tls.key
app/storage/framework/testing
app/.phpunit.cache
